* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body {
    font-size: 100%;
    background-color: #000013;
    font: normal 18pt Arial;
    color: white;
}
nav {
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    height: 60px;
    font-size: 18px;
}  
nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    padding: 0 10px;
    color: #ffd700;
    text-decoration: none;
    height: 100%;
    line-height: 60px;
}
main {
    padding-bottom: 60px;
}
#infosTitle {
    text-align: center;
}
h1 { 
    color: #ffd700;
}
h3 {
    color: #ffff66;
}
footer {
    text-align: center;
    padding: 28px;
    border-top: 0.4px solid aliceblue;
    color: #ffff66;
}