@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,800;1,200&display=swap');

:root{
    --green: #5cff4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    line-height: 24px;
}
body {
    background-color: black;
    color: var(--green);
    font-family: 'Poppins', sans-serif;
}
.navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0.1rem 0.5rem #ffffff;
}
.nav-menu {
    display: flex;
    gap: 32px;
}
.nav-menu-item {
    font-size: 1.3rem;
    font-weight: 300;
    color: var(--green);
    padding: 24px 0px;
    transition: all 0.5s;
}
.nav-menu-item:hover {
    color: #a1ffd0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}
.conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}
.conteudo-principal {
    display: flex;
    gap: 32px;
}
.conteudo-principal-introducao {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 128px auto;
    gap: 12px;
}
.conteudo-principal-introducao-h2 {
    font-weight: 700;
    font-size: 32px;
}
.conteudo-principal-introducao-h1 {
    font-weight: 800;
    font-size: 38px;
}
.conteudo-principal-introducao-botoes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.conteudo-principal-introducao-botao {
    font-size: 18px;
    border-radius: 10px;
    width: 170px;
    height: 50px;
    border: 0.2rem solid var(--green);
    font-weight: 600;
    transition: all 0.6s;
}
.conteudo-principal-introducao-botao:nth-child(1) {
    background-color: transparent;
    color: var(--green);
}
.conteudo-principal-introducao-botao:nth-child(2) {
    background-color: var(--green);
}
.conteudo-principal-introducao-botao:hover {
    color: black;
    background-color: #a1ffd0;
    border-color: #a1ffd0;
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}